.resume-description {
	font-weight: 100;
	font-size: 0.8rem;
	opacity: 0.75;
	letter-spacing: 1.5px;
}

.resume-link {
	font-weight: 100;
	padding-bottom: 0.2rem;
	display: inline-block;
	position: relative;
	font-size: 1.2rem;
}

.resume-link::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: -5px;
	right: 100%;
	border-bottom: 1px solid var(--light);
	transition: right 0.3s;
}

.resume-link:hover::before {
	right: 0;
}
