#root {
	max-width: 500px;
	margin: 0 auto;
}

.main-item {
	font-size: 35px;
	font-weight: 100;
	letter-spacing: -3px;
}

.uppercase {
	text-transform: uppercase;
}

.projects-description,
.sub-projects-description {
	font-style: italic;
	position: absolute;
	bottom: -120px;
	right: -75px;
	font-size: 11px;
	letter-spacing: 1.5px;
	max-width: 120px;
	line-height: 1.5;
	font-weight: 100;
	opacity: 0.7;
}

.sub-projects-description {
	bottom: -70px;
	right: -15px;
}

.sub-projects-nav-item {
	font-weight: 100;
	font-size: 16px;
}

.sub-projects-nav-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.element-fade-in {
	position: relative;
	animation: element-fade-in 1s forwards;
}

@keyframes element-fade-in {
	0% {
		top: -25px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: auto;
	}
}

.element-fade-out {
	position: relative;
	animation: element-fade-out 1s forwards;
}

@keyframes element-fade-out {
	0% {
		top: 0px;
		opacity: auto;
	}

	100% {
		top: -25px;
		opacity: 0;
	}
}

.main-nav-transition {
	position: relative;
	width: fit-content;
	cursor: pointer;
}

.main-nav-transition::before {
	position: absolute;
	content: "";
	top: 0;
	right: 100%;
	bottom: -5px;
	left: 0;
	border-bottom: 1px solid var(--light);
	transition: right 0.3s;
	z-index: -1;
}

.main-nav-transition:hover::before {
	right: 0;
}

@media (min-width: 1200px) {
	.app-nav-menu-item-2 {
		font-size: 12px;
	}

	.main-item {
		font-size: 60px;
	}
}

@media (min-width: 1600px) {
	#root {
		max-width: 800px;
	}
	.main-item {
		font-size: 120px;
	}
}
